/* Adicionar aqui toda a estilização criada para sua aplicação. */

body {
    margin: 0px;
    font-family: Arial, sans-serif;

}
:root { /* Serve como 'variáveis' de elementos para o código, funciona com cores e tamanhos */
    --azul: #32b9cd;
    --amarelo: #e3b062;
}
.header {
    background-color: black;
    border-bottom: 3px solid var(--azul);
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}
.titulo {
    color: var(--azul);

}
.navbar {
    display: flex;
    justify-content: space-between;
    color: var(--amarelo);
    list-style: none; /* Pra tirar os marcadores de lista da lista de itens */
    width: 300px;
}
.navbar a{
    color: var(--amarelo);
    text-decoration: none; /* Tirar o sublinhado do texto */
}
.agora { /* Indicar em que página do site o cliente está */
    font-weight: bolder    ;
}
.banner{
    height: 400px;
    width: 100%;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    background-size: cover;
}
.banner .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .container p {
    width: 170px;
    margin: 0;
    color: white;
    font-size: 24px;

}
.banner .container span {
    font-weight: bolder;
}
.social{
    height: 400px;
    width: 100%;
    background-color:#dcdcdc;
}
.social .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.boxes {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.box {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.box img {
    width: 100px;
    height: 100%;
}
.box h4 {
    margin: 0;
    margin-top: 10px;
    color: #e4005a;
}

.footer {
    height: 120px;
    width: 100%;
    background-color: var(--azul)
}
.footer .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.footer h4 {
    margin-bottom: 0;
}
.login {
background-image: url(../assets/imgs/bg-jelly-fish-para_outras_pags.png);
background-size: cover;
height:600px;
display: flex;
justify-content: center;
align-items: center;

}
.login .container {

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #dcdcdc;


}
.card-cadastro {
    background-color: #dcdcdc;
    border-radius: 16px;
    padding: 20px;
    width: 400px;
  }

  .card-cadastro h2 {
    text-align: center;
    color: #e4005a;
  }

  .formulario .campo {
    display: flex;
    flex-direction: column;
  }

  .formulario .campo span {
    font-size: 14px;
    margin-top: 10px;
    color:#e4005a;
    font-weight: bold;
  }

  .formulario .campo input {
    padding: 5px;
    border: 3px solid var(--azul);
    border-radius: 8px;
    font-size: 14px;
  }

  .botao {
    margin-top: 10px;
    display: flex;
    right: 100px;
    margin-left: 300px;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 12px;
    background-color: #e4005a;
    color: white;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
}
.card-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
}
.card-login h2{
    text-align: center;
    color: #e4005a;

}

